 <h1 class="main__title">Current orders</h1>
 <% @orders.each do |order| %>
        <div class="card-body"> 
            <h3 class="card__title"><%=order.where%> </h3>
            <h2> Autor : <%=order.user.email%></h2>     
            <% if @user.id == order.user_id%>
              <div class="card-body__controll">
                <%= link_to 'Show', order, :class => "card-body__controll--button btn btn-primary" %>
                <%= button_to order_path(order),:class => "card-body__controll--button btn btn-primary", method: :delete do %>Delete<% end %>
                <%= button_to is_active_order_path(order),:class => "card-body__controll--button btn btn-primary", method: :put do %>
                    <%if order.active == true %>
                        Active
                    <%else%>
                        Done
                    <%end%>
                <% end %>
            </div>
              <%else %>
            <%end%> 
        </div>
    <% end %>