<h1 class="new__title">New Order</h1>

<%= form_with model: @order do |form| %>
<div class="mb-3">
   <%= form.label :Where,  class: "col-sm-2  form-label"%>
   <div class="col-sm-10">
      <%= form.text_field :where,  class: "form-control" %>
    </div>
</div>
<div class="mb-3">
   <%= form.label :Check,  class: " col-sm-2  form-label"%>
   <div class="col-sm-10">
    <%= form.text_field :Check_out_time,  class: "form-control" %>
    </div>
</div>
<div class="mb-3">
   <%= form.label :Body,  class: "col-sm-2 form-label"%>
   <div class="col-sm-10">
    <%= form.text_area :body ,  class: "form-control" %>
    </div>
</div>
<div class="mb-3">
 <%= form.label :active,  class: "col-sm-2 form-label"%>
   <div class="col-sm-10">
    <%= form.check_box :active %>
    </div>
</div>
<div class="d-grid gap-2 d-md-block">
   <%= form.submit :class => "btn btn-primary "%>
   <%= link_to 'Back', orders_path, class: "btn btn-secondary"%>
</div>
<% end %>

